# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [6]:
nums=[1,2,3,4]

** `Question:` Remove number "3" in a list**

In [6]:
# Method 1 
nums.pop(2)

3

In [7]:
# Method 2
nums.remove(3)

In [8]:
# Method 3
nums = [1, 2, 3, 4]
nums = [i for i in nums if i != 3]
print(nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [2]:
lst=[2,3,4]
lst.insert(0,1)

**`Question:` Insert "two-and-half" in 2nd position**

In [3]:
lst.insert(2,'two-and-half')

In [4]:
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [11]:
phrase ="Don't panic!"

*convert into list*

In [12]:
list(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [22]:
l1=list(phrase)

In [24]:
l1.remove("'")
l1.remove("!")
l1

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [44]:
# CODE HERE

In [25]:
li = ['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
to_remove = ['p', 'a', 'n', 'D']
for char in to_remove:
    li.remove(char)
li.extend(to_remove)
print(li)

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [ ]:
# CODE HERE

In [28]:
my_list = ['p', 'a', 'n', 'D', 'a']
' '.join(my_list)

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# CODE HERE

In [29]:
nums = (31, 24, 35, 85)
print(type(nums))
print(nums)

<class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [49]:
# CODE HERE

In [35]:
nums_new = tuple(x for x in nums if x != 35)
print(nums_new)

(31, 24, 85)

**Extent** tuple (85,19)

In [36]:
nums_new=nums_new+(85,19)
print(nums_new)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [ ]:
# CODE HERE

In [38]:
tpl = ('i', 'n', 'n', '0')
if 'i' in tpl:
    print(True)
else:
    print(False)

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [3]:
# CODE HERE

In [39]:
my_list = ['Hello', 100, [], 'innomatics']
my_list[2] = [200]
print(my_list)

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [42]:
# CODE HERE
tpl = ("Innomatics")

In [47]:
tpl = ("Innomatics",)
tpl_reversed = tuple(reversed(tpl[0]))
print(tpl_reversed)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [48]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [49]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [50]:
new_tpl = []

for t in tpl:
    new_tpl.append(t + (100,))
    
print(new_tpl)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [51]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [52]:
new_tpl = []

for t in tpl:
    new_tpl.append(t[:-1] + (100,))
    
print(new_tpl)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [57]:
input_str = '5 2 3 6 6 5'
nums = list(map(int, input_str.split()))

highest = max(nums)
second_highest = max(n for n in nums if n != highest)

print("second highest num is : ",second_highest)

second highest num is :  5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [58]:
nums = [12, 24, 35, 70, 88, 120, 155]

new_nums = [nums[i] for i in range(len(nums)) if i not in (0, 4, 5)]

print(new_nums)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [65]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
half_len = len(tup) // 2
first_half = tup[:half_len]
second_half = tup[half_len:]
print(first_half)
print(second_half)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [64]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

even_tup = tuple(x for x in tup if x % 2 == 0)

print(even_tup)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
Mutability: Lists are mutable, which means their contents can be modified, added or removed after they are created. On the other hand, tuples are immutable, which means they cannot be modified after they are created. If you need to make changes to the contents of a collection, you should use a list. If you need a fixed set of values, then use a tuple.

Syntax: Lists are enclosed in square brackets [ ], while tuples are enclosed in parentheses ( ).

Performance: Tuples are generally faster than lists because they are immutable, and their contents cannot be changed. This allows the interpreter to optimize memory usage and other operations, making them faster than lists.

### 2. Explain the difference between append() and extend() with examples

In [ ]:
The append() method is used to add a single element to the end of a list. The append() method is used to add a single element to the end of a list.

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
The pop() method removes and returns the last element of a list by default. However, an index can be specified as an argument to remove an element at a specific position.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)